<configuration>
  <system.webServer>
    <handlers>
      <!-- Indica que index.js se ejecutará con iisnode -->
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Redirige todas las solicitudes a index.js (para SPA y rutas del backend) -->
        <rule name="DynamicContent">
          <match url="*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- Opcional: Configura el entorno Node.js -->
    <iisnode
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      interceptor="%programfiles%\iisnode\interceptor.js"
    />
  </system.webServer>
</configuration>